@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  /* =======================================================
  *
  * 	Template Style 
  *
  * ======================================================= */
  body {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
    background: #fff;
  }
  
  #page {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .offcanvas #page {
    overflow: hidden;
    position: absolute;
  }
  .offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
  
  a {
    color: #d1c286;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover, a:active, a:focus {
    color: #d1c286;
    outline: none;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
  
  ::-webkit-selection {
    color: #fff;
    background: #d1c286;
  }
  
  ::-moz-selection {
    color: #fff;
    background: #d1c286;
  }
  
  ::selection {
    color: #fff;
    background: #d1c286;
  }
  
  .fh5co-nav {
    padding: 18px 0;
    background: #fff;
  }
  @media screen and (max-width: 768px) {
    .fh5co-nav {
      padding: 20px 0;
    }
  }
  .fh5co-nav #fh5co-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", Arial, sans-serif;
  }
  .fh5co-nav a {
    padding: 5px 10px;
    color: #000;
  }
  @media screen and (max-width: 768px) {
    .fh5co-nav .menu-1, .fh5co-nav .menu-2 {
      display: none;
    }
  }
  .fh5co-nav .menu-2 li.search {
    float: left;
    width: 83%;
    font-family: "Playfair Display", serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    margin: -5px 0 0 0;
  }
  .fh5co-nav .menu-2 li input[type=text] {
    padding: 6px 10px;
    width: 40%;
    border: none;
    float: right;
    font-size: 13px;
    margin-top: 4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .fh5co-nav .menu-2 li input[type=text]:focus {
    width: 100%;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .fh5co-nav .menu-2 li button {
    margin-top: 4px;
    padding: 5px;
    background: transparent;
    border: none;
  }
  .fh5co-nav .menu-2 li button i {
    color: rgba(0, 0, 0, 0.5);
  }
  .fh5co-nav .menu-2 li button:hover, .fh5co-nav .menu-2 li button:focus {
    background: transparent !important;
  }
  .fh5co-nav .menu-2 li button:hover i, .fh5co-nav .menu-2 li button:focus i {
    color: black;
  }
  .fh5co-nav .menu-2 li.shopping-cart {
    float: right;
  }
  .fh5co-nav .menu-2 li a.cart {
    color: black;
  }
  .fh5co-nav .menu-2 li a.cart span {
    position: relative;
  }
  .fh5co-nav .menu-2 li a.cart span small {
    position: absolute;
    top: -20px;
    right: -15px;
    padding: 10px 6px;
    line-height: 0;
    font-size: 11px;
    background: #d1c286;
    color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .fh5co-nav ul {
    padding: 0;
    margin: 0;
  }
  .fh5co-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    font-family: "Montserrat", Arial, sans-serif;
  }
  .fh5co-nav ul li a {
    font-size: 13px;
    padding: 30px 10px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

.contactCont h2{
    font-family: 'Oswald', sans-serif;
            font-size: 40px;
     
                padding-bottom: 30px;
                padding-top: 120px;
                color: #e0af53;
                text-align: center;
    
    
    }

.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #e0af53;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #e0af53;
    background: black;
    color: #e0af53;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: #e0af53;

    background: none;
}



.contactCont{
	margin-left:100px;
	margin-top: 20px;
		margin-right:100px;

}
.contact{
/*    /Users/zhuldyz/Desktop/lab3/forlab/public/srcs 
*/
	background-image:url('/srcs/623078.jpg');
	height: 100vh;
}

.text{
font-size: 25px;
padding-bottom: 20px;}